extends layout

block content
  link(rel="stylesheet", href="/stylesheets/sign_in.css")
  
  .header
    .logo-icon 🍳
    .brand-text Smart Recipe Generator
  
  .container
    .left-section
      .illustration
        .illustration-icon 🔐
        h2 Reset Your Password
        p Create a new secure password to regain access to your Smart Recipe Generator account.
    
    .right-section
      .form-header
        h1 Create New Password
        p Enter your new password below
      
      form#resetPasswordForm
        .form-group
          label(for="newPassword") New Password
          input(type="password", id="newPassword", name="newPassword", placeholder="Enter new password (min 8 characters)", required)
        
        .form-group
          label(for="confirmPassword") Confirm Password
          input(type="password", id="confirmPassword", name="confirmPassword", placeholder="Confirm your new password", required)
        
        .form-options
          .remember-me
            input(type="checkbox", id="showPassword", name="showPassword")
            label(for="showPassword") Show passwords
        
        button(type="submit").sign-in-btn Reset Password
      
      .signup-link
        | Remember your password? 
        a(href="/signin") Sign in here

  script(src='/javascripts/reset_password.js')
